:root {
    --mainWhite: #f5f5f5;
    --mainGreen: #80cfa9;
    --mainBlack: #333333;
    --mainRed: #d62828;
    --mainBlue: #11b5e4;
}

body {
    margin: 10px;
    padding: 20px;
    background: var(--mainWhite);
    color: #333333;
}

.btn-green {
    border-color: var(--mainGreen);
    background: transparent;
    color: var(--mainGreen);
}

.btn-green:hover {
    background: var(--mainGreen);
    color: var(--mainBlack);
}

.form-control {
    border-color: var(--mainGreen) !important;
}

#item-icons {
    display: none;
}

li {
    list-style-type: none;
}

#msg {
    display: none;
    padding: 8px;
    background-color: #f44336;
    color: white;
    opacity: 0.8;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}